Website: http://kramerapps.com/cydia/
Maintainer: Conrad Kramer <conradkramersapps@gmail.com>
Name: User Agent Faker
Package: com.conradkramer.uafaker
Depends: preferenceloader, mobilesubstrate, applist (>= 1.1)
Conflicts: sbsuafaker
Section: Tweaks
Version: 1.1
Architecture: iphoneos-arm
Description: Fakes the User Agent of the device
Sponsor: Conrad Kramer <http://kramerapps.com/cydia/>
