Package: com.conradkramer.uafaker
Depends: preferenceloader, mobilesubstrate, applist (>= 1.1)
Conflicts: com.conradkramer.sbsuafaker, sbsuafaker
Name: User Agent Faker
Version: 1.5
Architecture: iphoneos-arm
Description: Fakes the User Agent of the device.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=useragentfakerData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=useragentfakerData
Maintainer: Bigboss <bigboss@thebigboss.org>
Author: Conrad Kramer <support@kramerapps.com>
Section: Tweaks
Sponsor: thebigboss.org <http://thebigboss.org>
dev: ckramer
Tag: purpose::extension
