Website: http://kramerapps.com/cydia/
Maintainer: Conrad Kramer <conradkramersapps@gmail.com>
Name: UAFaker SBSettings Toggle
Package: com.conradkramer.sbsuafaker
Depends: sbsettings, com.conradkramer.uafaker (>= 1.1)
Conflicts: sbsuafaker
Section: SBSettings Addons
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle for User Agent Faker
Sponsor: Conrad Kramer <http://kramerapps.com/cydia/>
