<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>User Agent Faker</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>com.conradkramer.uafaker.settings</string>
			<key>defaults</key>
			<string>com.conradkramer.uafaker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
            <integer>0</integer>
			<key>defaults</key>
			<string>com.conradkramer.uafaker</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>UAUserAgent</string>
			<key>id</key>
			<string>useragent</string>
			<key>label</key>
			<string>User Agent</string>
			<key>set</key>
			<string>setUserAgentValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.conradkramer.uafaker.settings</string>
			<key>validTitles</key>
			<array>
				<string>Google Chrome</string>
				<string>Firefox</string>
				<string>Safari</string>
				<string>Opera</string>
				<string>Internet Explorer</string>
				<string>Apple iPad</string>
                <string>Apple iPhone</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>-1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>customuseragent</string>
			<key>id</key>
			<string>customuseragent</string>
			<key>label</key>
			<string></string>
			<key>placeholder</key>
			<string>Custom User Agent</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>PostNotification</key>
			<string>com.conradkramer.uafaker.settings</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.conradkramer.uafaker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Applications</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>ALNavigationTitle</key>
			<string>Applications</string>
			<key>ALChangeNotification</key>
			<string>com.conradkramer.uafaker.settings</string>
			<key>ALAllowsSelection</key>
			<false/>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.conradkramer.uafaker.plist</string>
		</dict>
		<dict>
			<key>cell</key>
	    	<string>PSGroupCell</string>
	    	<key>footerText</key>
	    	<string>© 2010-2011 Conrad Kramer</string>
	    </dict>
	</array>
</dict>
</plist>
